<div class="flex flex-col justify-center items-center max-w-sm rounded overflow-hidden shadow-lg">
    <h3>{{this.username}} Profile Page</h3>
    
  

    {{#if profile_img}}
      <img class="card__image" src="{{this.profile_img}}" alt="User Profile" />
    {{else}}
      <img class="card__image" src="/images/default.jpg" alt="User Profile" />
    {{/if}}
  
     <div class="font-bold text-xl mb-2">{{this.username}}</div>
    <p class="text-gray-700 text-base">Emali: {{this.email}}</p>
     <p class="text-gray-700 text-base">Phone: {{this.phone}}</p>
      <p class="text-gray-700 text-base">Locaation: {{this.location}}</p>
      
  </div>
 

