{{!-- <div class="grid place-items-center h-screen">
    <div class="relative inset-x-0 top-0">
        <h3 class="text-3xl" id="ppage">{{this.username}} Profile Page</h3>
    </div>
    <br>
    <br>
    <br>
    <br>
    
    <div  class="items-stretch rounded overflow-hidden shadow-lg" id="profile_card">
      <div class="relative w-24 h-24">
      <img class="rounded-full border border-gray-100 shadow-sm content-center" src="https://res.cloudinary.com/djyehhigx/image/upload/v1650214027/chuck_z4ecve.jpg" alt="user image" />
      </div>
       
  
     <div class="font-bold text-8xl mb-2 content-center">{{this.username}}</div>
     <p class"text-gray-700">Emali: {{this.email}}</p>
     <p class"text-gray-700">Phone: {{this.phone}}</p>
     <p class"text-gray-700">Locaation: {{this.location}}</p>
      
  </div>
  </div> --}}
<div class="p-3 justify-center place-items-center"></div>
    <div class="relative inset-x-0 top-0">
        <h3 class="text-5xl" id="ppage">{{this.username}} Profile Page</h3>
    </div>
    <div class="main justify-center grid p-10 ">
        <!--card-->
        <div class="card bg-white flex flex-col items-center justify-center p-8 shadow-2xl rounded-2xl h-90 w-115">
            <!--profile-image-->
            <div class="profile mx-auto rounded-full py-10 w-28">
                <img src="https://res.cloudinary.com/djyehhigx/image/upload/v1650214027/chuck_z4ecve.jpg" alt="profile">
            </div>
            <!--name-->
            <div class="name text-gray-800 text-6xl font-bold mt-4">
                <p>{{this.username}}</p>
            </div>
            <!--username-->
            <div class="username text-4xl">
                <p>email: {{this.email}}</p>
            </div>
            <!--work-->
            <div class="work text-gray-700 text-4xl">
                <p>phone: {{this.phone}}</p>
            </div>
            <div class="work text-gray-700 text-4xl">
                <p>Location: {{this.Location}}</p>
            </div>
 

